html, body {
  height: 100%;
  min-height: 100%;
}

.fill { height: calc(100vh - 100px); }

body {
  margin-right: 30px;
  padding-top: 60px; /* space for the top nav bar */
}

#userHubs {
  height: calc(100vh - 150px);
  overflow: auto;
  width: 100%;
}

#forgeViewer { width: 100%; }