<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  
  <!-- NOT USED IN REVIT SERVER -->
  <!--<facilities>
    <facility id ="logging"
              configfile="log4net.config"
              type="Castle.Facilities.Logging.LoggingFacility,Castle.Facilities.Logging"
              loggingApi="log4net"
              />
  </facilities>--> 
  <components>

    <!-- Interceptors-->
    <component id="LoggingInterceptor"
                      service="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Logging.SocialLoggingInterceptor,RS.Enterprise.Common.ClientServer.Helper"
                      type="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Logging.SocialLoggingInterceptor,RS.Enterprise.Common.ClientServer.Helper">
    </component>

    <component id="ExceptionInterceptor"
                      service="Autodesk.Social.Core.ExceptionHandling.ExceptionInterceptor,Autodesk.RevitServer.Social"
                      type="Autodesk.Social.Core.ExceptionHandling.ExceptionInterceptor,Autodesk.RevitServer.Social">
    </component>

    <!-- Logging -->
    <component id="LoggingArgumentFormatter"
                      service="Autodesk.Social.Core.Implementation.Logging.IArgumentFormatter,Autodesk.RevitServer.Social"
                      type="Autodesk.Social.Core.Implementation.Logging.ArgumentFormatter,Autodesk.RevitServer.Social">
    </component>
    
    <!-- Components -->
    <!-- NOT USED IN REVIT SERVER -->
    <!--<component id="MemcachedImpl"
                      service="Autodesk.Social.Core.Caching.IMemoryCache,Autodesk.Social.Core"
                      type="Autodesk.Social.Core.Implementation.Caching.MemCachedMemoryCache,Autodesk.Social.Core.Implementation">
      
    </component>

    <component id="ThumbnailGeneratorPreserveAspect"
                      service="Autodesk.Social.Core.Images.IThumbnailGenerator,Autodesk.Social.Core"
                      type="Autodesk.Social.Core.Implementation.Images.ThumbnailGeneratorPreserveAspect,Autodesk.Social.Core.Implementation">

    </component>
    <component id="ThumbnailGeneratorCropped"
                      service="Autodesk.Social.Core.Images.IThumbnailGenerator,Autodesk.Social.Core"
                      type="Autodesk.Social.Core.Implementation.Images.ThumbnailGeneratorCropped,Autodesk.Social.Core.Implementation">

    </component>

    <component id="ImageProcessor"
                      service="Autodesk.Social.Core.Images.IImageProcessor,Autodesk.Social.Core"
                      type="Autodesk.Social.Core.Implementation.Images.ImageProcessor,Autodesk.Social.Core.Implementation">

    </component>
    -->
    <component id="fileIO"
           service="Autodesk.Social.Core.Files.IFileIO, Autodesk.RevitServer.Social"
           type="Autodesk.Social.Core.Implementation.Files.FileIOImplementation,Autodesk.RevitServer.Social">
    </component>

  </components>
</configuration>