<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <log4net>
      
      <!--NOTES:
      1. To disable a specific logger in the service codes, you just need to set the level value of the logger
         to "OFF".
      
      2. root/level acts on following types of loggers:
         (1) logger that is not explicitly defined in this configuration file (all loggers used by Windsor
             Containers are of this type);
         (2) logger that is explicitly defined in this configuration file but is not assigned level value,
             and it ancestor is also not assigned level value;
         
         To reduce redundant records in service log, one way is setting the value of root/level to lower one.
      
      3. Refer to http://logging.apache.org/log4net/release/manual/introduction.html for detailed descriptions
         of related concepts.
      -->

      <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
         <file type="log4net.Util.PatternString" value="C:\ProgramData\Autodesk\RevitServerTool\Logs\RevitServerTool[%property{ProcessLocation}].log"/>
         <appendToFile value="true"/>
         <RollingStyle value="Size"/>
         <maximumFileSize value="512MB"/>
         <maxSizeRollBackups value="5"/>
         <countDirection value="1"/>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d{ISO8601} %level TID(%thread) LOGGER(%logger) MSG(%message)%newline"/>
         </layout>
      </appender>

      <root>
         <level value="DEBUG"/><!--set the value to "WARN" or lower to redcue redundant records in service log-->
         <!--<level value="WARN" />-->
         <appender-ref ref="RollingFile"/>
      </root>

      <logger name="RevitServerToolLogger">
         <level value="DEBUG"/>
         <!--set the value to "OFF" to disable this logger in service codes-->
         <!--<level value="OFF" />-->
         <!--<appender-ref ref="RollingFile" />No need to specify appenders here, will inherit them from root logger-->
      </logger>
      
   </log4net>
</configuration>
