<configuration xmlns="WindsorSchema">
   <components>
     
     <!-- Singletons -->

     <component id="RevitServerToolLogger"
            service="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Logging.ILogger, RS.Enterprise.Common.ClientServer.Helper"
            type="Autodesk.RevitServer.Enterprise.ToolCommand.RevitServerToolLogger, RevitServerTool"
            lifestype="singleton">
     </component>
      
     <!-- Note, RevitServerToolCommand does not maintain a DataStorageServiceSettings thus this needs to be removed from config -->

     <component id="ModelPathUtils"
            service="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Utils.IModelPathUtils, RS.Enterprise.Common.ClientServer.Helper"
            type="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Utils.ModelPathUtils, RS.Enterprise.Common.ClientServer.Helper"
            lifestyle="singleton">
     </component>

     <component id="SharedUtils"
            service="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Utils.ISharedUtils, RS.Enterprise.Common.ClientServer.Helper"
            type="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Utils.SharedUtils, RS.Enterprise.Common.ClientServer.Helper"
            lifestyle="singleton">
       <parameters>
         <ModelPathUtils>${ModelPathUtils}</ModelPathUtils>
       </parameters>
   </component>

     <!-- Transients -->

     <component id="ModelDataVersionManager"
            service="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.VersionManager.IModelDataVersionManager, RS.Enterprise.Common.ClientServer.Helper"
            type="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.VersionManager.ModelDataVersionManager, RS.Enterprise.Common.ClientServer.Helper"
            lifestyle="transient">
       <parameters>
         <ModelPathUtils>${ModelPathUtils}</ModelPathUtils>
       </parameters>
     </component>
     
   </components>
</configuration>
