<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="DataStorageServiceConfiguration" type="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.Configuration.DataStorageServiceConfiguration, RS.Enterprise.Common.ClientServer.Helper"/>
      <section name="RevitServerToolConfiguration" type="Autodesk.RevitServer.Enterprise.ToolCommand.RevitServerToolConfiguration, RevitServerTool"/>
   </configSections>
   <DataStorageServiceConfiguration configSource="config\DataStorageService.config"/>
   <RevitServerToolConfiguration configSource="RevitServerTool.config"/>
   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel" switchValue="Warning, ActivityTracing">
            <listeners>
               <add name="DataStorageMultipleXmlWritersTraceListener"/>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add name="DataStorageMultipleXmlWritersTraceListener" type="Autodesk.RevitServer.Enterprise.Common.ClientServer.Helper.DataStorageMultipleXmlWritersTraceListener, RS.Enterprise.Common.ClientServer.Helper" traceOutputOptions="None" maxFileCount="4" maxFileSizeInKB="262144" initializeData="C:\ProgramData\Autodesk\RevitServerTool\Logs\RevitServerTool.svclog"/>
      </sharedListeners>
   </system.diagnostics>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
</configuration>
