<configuration xmlns="WindsorSchema">
  <components>
    <!-- NOT USED IN REVIT SERVER-->
    <!--<component id="AuthenticationService"
       service="Autodesk.Social.Web.Authentication.IAuthenticationService, Autodesk.Social.Web"
       type="Autodesk.Social.Web.Authentication.OpenIdAuthenticationService, Autodesk.Social.Web"
       lifestyle="transient">
      <interceptors>
        <interceptor>${LoggingInterceptor}</interceptor>
      </interceptors>
    </component>
    <component id="OpenIdRelyingParty"
         service="Autodesk.Social.Web.Authentication.IOpenIdRelyingParty, Autodesk.Social.Web"
         type="Autodesk.Social.Web.Authentication.OpenIdRelyingPartyImpl, Autodesk.Social.Web"
         lifestyle="transient">
    </component>
    <component id="FormsAuthentication"
         service="Autodesk.Social.Web.Authentication.IFormsAuthentication, Autodesk.Social.Web"
         type="Autodesk.Social.Web.Authentication.FormsAuthenticationImpl, Autodesk.Social.Web">
    </component>
    <component id="routesConfigurator"
       service="Autodesk.Social.Web.Routing.IRouteConfigurator, Autodesk.Social.Web"
       type="Autodesk.Social.Web.Routing.MvcRouteConfigurator, Autodesk.Social.Web">
    </component>
    <component id="routesConfiguratorSettings"
       service="Autodesk.Social.Web.Routing.IMvcRouteConfiguratorSettings, Autodesk.Social.Web"
       type="Autodesk.Social.Web.Routing.MvcRouteConfiguratorSettings, Autodesk.Social.Web">
    </component>-->
    <component id="webRequestFactory"
       service="Autodesk.Social.Web.IWebRequestFactory, Autodesk.RevitServer.Social"
       type="Autodesk.Social.Web.WebRequestFactory, Autodesk.RevitServer.Social">
    </component>
  </components>
</configuration>